html
{margin: 0;
	padding: 2em 2em 2em;
    background-color: antiquewhite; 
    background-image: url(floral.jpg);
    background-position: top;
}

body
{background-color: #fff;
    color: #975C8D;
    font-family:'Alegreya', serif; color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em 2em 4em;}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
h1
{text-align: center;
text-decoration:underline;}

h1,h2 {color:#FF9494;}

ul
{list-style-type:square;
}

a:link {  
	color: #B93160;}

a:visited { 
	color: #F1A661;}

a:link,visited {font-weight: bold;}

a:hover, a:focus, a:active {color: #C55300;}

a:link,visited,hover,focused,active 
{text-decoration: none;}









